.background {
    -fx-background-color: #E7CA80;
}

.deco-font {
    -fx-font-family: "Arial";
}

.deco-font-bold {
    -fx-font-weight: bold;
}

.font-size-s {
    -fx-font-size: 16
}
.font-size-m {
    -fx-font-size: 28
}
.font-size-l {
    -fx-font-size: 56
}

.text-field {
    -fx-prompt-text-fill: black;
}


.deco-login-pane {
    -fx-background-color: #ABBEEF;
    -fx-background-radius: 50px;
    -fx-padding: 0px 40px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0 ,3)
}

.transparent-textfield {
    -fx-background-color: transparent;
}

.deco-button {
    -fx-background-color: #ABBEEF;
    -fx-background-radius: 50px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0 ,3)
}
.deco-button:hover {
    -fx-background-color: #87A0D4;      /* Lighter blue on hover */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 8, 0.0, 0, 4); /* Enhances the drop shadow on hover */
}

.deco-button:pressed {
    -fx-background-color: #6478A6;      /* Darker blue when pressed */
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2); /* Adds an inner shadow when pressed */
}

.insets {
    -fx-background-insets: 2px 5px;
}

.menu-border-width-top {
    -fx-border-color: black;
    -fx-border-width: 1px 0px 0px 0px;
}

.menu-search-filter {
    -fx-background-color: #EFDCAB;
}

.menu-create {
    -fx-padding: 10px 20px;
    -fx-background-color: #AFDF54;
}

.menu-edit {
    -fx-padding: 10px 20px;
    -fx-background-color: #DF5477;
}